/*Generals */
:root{
    --bc:#000;
    --fontColor:#f7931e;
}
@font-face{
    src: url(../Fonts/Iceland-Regular.ttf);
    font-family: "ice";
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'ice';
    color:white;
}

/*/////////////////////////////////////////////////////////////*/
/*Hero section*/
#hero{
    background-color: #000;
    height: 768px;
}
#hero .wrapper{
    width:80%;
    margin: auto;
    height: 100%;
}
/*Wecloming*********************************/
#hero .wrapper .welcoming{
    height: 100%;
}
#hero .wrapper .welcoming .hi{
    height: 100%;
    
    
}
#hero .wrapper .welcoming .hi h1{
    position: relative;
    top:40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 200px;
    width:200px;
    color:var(--fontColor);
    text-align: center;
    font-weight: normal;
}
#hero .wrapper .welcoming .name{
    display: none;  
    position: relative;
    top:50%;
    text-align: center;
    transform: translateY(-50%);
    height: 300px;
}
#hero .wrapper .welcoming .name h1{
    font-size: 100px;
    color:var(--fontColor)
}
#hero .wrapper .welcoming .name h2{
    font-size: 70px;
    color:white;
    font-weight: lighter;
    display: none;
}
@media screen and (max-width:768px){
    #hero .wrapper .welcoming .name h1{
        font-size: 70px;
    }
    #hero .wrapper .welcoming .name h2{
        font-size: 50px;
    }
}
@media screen and (max-width:545px){
    #hero .wrapper .welcoming .name h1{
        font-size: 50px;
    }
    #hero .wrapper .welcoming .name h2{
        font-size: 40px;
    }
}
/*final*********************************/
#hero .wrapper .final{
    display: none;
    height: 100%;
    position: relative;
}
#hero .wrapper .final .logo{
    height: 100%;
    
}
#hero .wrapper .final .logo embed{
    max-width:605.538px;
    position: relative;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
#hero .wrapper .final .logo embed svg text{
    stroke:red;
}
#hero .wrapper .final .nav {
    position: absolute;
    top:50%;
    left:50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%) translateY(-50%);
}
#hero .wrapper .final .nav .menu{
    position: absolute;
    top:218.272px;
    left:45px;
    
}
#hero .wrapper .final .nav h3 {
    margin-bottom: 20px;
    width: 350px;
    overflow:hidden;
}
#hero .wrapper .final .nav h3 a{
    text-decoration: none;
    color:white;
    font-size: 50px;
    font-weight: lighter;
    opacity: 0.6;
}

#hero .wrapper .final .nav embed{
    display: block;
    width:90.51px;
    position: relative;
    top:77.245px;
}
